<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <h1>Dashboard</h1>

    <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
            <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="card-pf card-pf-accented card-pf-aggregate-status" style="height: 89px;">
                    <h2 class="card-pf-title" style="height: 17px;">
                        <span class="fa fa-shield"></span><span class="card-pf-aggregate-status-count">{{userSummary.totalUserCount}}</span>
                        Total Users
                    </h2>
                    <div class="card-pf-body" style="height: 50px;">
                        <p class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification"><a href="#" class="add"
                                                                                   data-toggle="tooltip"
                                                                                   data-placement="top" title=""
                                                                                   data-original-title="User Total"><span
                                    class="pficon pficon-add-circle-o"></span></a></span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="card-pf card-pf-accented card-pf-aggregate-status" style="height: 89px;">
                    <h2 class="card-pf-title" style="height: 17px;">
                        <a href="#"><span class="fa fa-shield"></span><span class="card-pf-aggregate-status-count">{{userSummary.activeUsersCount}}</span>
                            Active Users</a>
                    </h2>
                    <div class="card-pf-body" style="height: 50px;">
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="card-pf card-pf-accented card-pf-aggregate-status" style="height: 89px;">
                    <h2 class="card-pf-title" style="height: 17px;">
                        <a href="#"><span class="fa fa-shield"></span><span class="card-pf-aggregate-status-count">{{userSummary.loginCount}}</span>
                            Logins</a>
                    </h2>
                    <div class="card-pf-body" style="height: 50px;">
                        <p class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification"><a href="#"><span
                                    class="pficon pficon-error-circle-o"></span>4</a></span>
                            <span class="card-pf-aggregate-status-notification"><a href="#"><span
                                    class="pficon pficon-warning-triangle-o"></span>1</a></span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="card-pf card-pf-accented card-pf-aggregate-status" style="height: 89px;">
                    <h2 class="card-pf-title" style="height: 17px;">
                        <a href="#"><span class="fa fa-shield"></span><span class="card-pf-aggregate-status-count">{{userSummary.registerCount}}</span>
                            Registrations</a>
                    </h2>
                    <div class="card-pf-body" style="height: 50px;">
                        <p class="card-pf-aggregate-status-notifications">
                            <a href="#"><span class="card-pf-aggregate-status-notification"><span
                                    class="pficon pficon-error-circle-o"></span>1</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Logins along the year</h2>
    <div id="cal-heatmap" class="container-fluid">
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Latest Logins</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--<th>{{:: 'userId' | translate}}</th>-->
                    <th class="w-15">{{:: 'username' | translate}}</th>
                    <!--<th>{{:: 'eventTimestamp' | translate}}</th>-->
                    <th class="w-15">{{:: 'login at' | translate}}</th>
                    <th class="w-15">{{:: 'last visit' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dataPoint in latestUserLogins.dataPoints">
                    <!--<td>{{dataPoint.userId}}</td>-->
                    <td><a href="../users/{{dataPoint.userId}}">{{dataPoint.username}}</a></td>
                    <td>{{dataPoint.eventTimestamp|date:'mediumTime'}}</td>
                    <td>{{(dataPoint.previousEventTimestamp|date:'mediumTime') || 'never'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>New Registrations</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--<th>{{:: 'userId' | translate}}</th>-->
                    <th class="w-15">{{:: 'username' | translate}}</th>
                    <!--<th>{{:: 'eventTimestamp' | translate}}</th>-->
                    <th class="w-15">{{:: 'Registered at' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dataPoint in latestUserRegistrations.dataPoints">
                    <!--<td>{{dataPoint.userId}}</td>-->
                    <td><a href="../users/{{dataPoint.userId}}">{{dataPoint.username}}</a></td>
                    <td>{{dataPoint.eventTimestamp|date:'mediumTime'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<kc-menu></kc-menu>